check my css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #EEEEEE;
}

.cards {
    background-color: #f2ecfa;
    margin: 100px auto;
    width: 90%;
    padding: 20px;
}

.title {
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

h1 {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.twitter-cards,
.instagram-cards,
.youtube-cards {
    border: 1px solid black;
    margin: 50px auto;
    padding: 20px;
    height: 350px;
    width: 320px;
    text-align: center;
    border-radius: 9px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.fa-twitter,
.fa-instagram,
.fa-youtube {
    font-size: 5em;
    color: black;
    margin: 20px;
}

p {
    font-size: 18px;
    margin: 20px auto;
}

.twitter-button,
.instagram-button,
.youtube-button {
    width: 300px;
    height: 50px;
    font-size: 15px;
    border-radius: 40px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: normal;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .title {
        text-transform: uppercase;
        font-size: .8em;
        text-align: center;
        font-weight: bold;
    }
}
