* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*body {
    background: rgb(61,58,121);
    background: linear-gradient(45deg, rgba(61,58,121,1) 0%, rgba(98,190,209,1) 100%);
    background-size: cover;
*/

.title {
    margin: 70px auto;
    text-align: center;
    width: 100%;
    justify-content: center;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.cards {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 20px auto;
    justify-content: center;
}

.twitter-card {
    border: 1px solid;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 20px auto;
}

.instagram-card {
    border: 1px solid;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 20px auto;
}

.youtube-card {
    border: 1px solid;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 20px auto;
}

.twitter-button,
.instagram-button,
.youtube-button {
    margin: 20px auto;
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
}

@media (max-width: 800px) {
    .cards{
        flex-direction: column;
    }

    h1 {
        font-size: 2em;
        font-weight: bolder;
        color: rgb(0, 0, 0);
    }
}
